<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.msplug">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".notification.App"
        android:resource="@drawable/msplugnotificationicon"
        android:allowBackup="true"
        android:icon="@drawable/mspluglogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mspluglogoicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dashboard.view.dashboardActivity"></activity>
        <activity android:name=".auth.login.loginActivity" />
        <activity android:name=".auth.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".background_service.BackgroundService"/>
    </application>

</manifest>